<div class="card">

  <div id="<%= dom_id treatment %>" class="card h-100">
    <%= link_to treatment, class: "text-decoration-none" do %>
      <div class="card-body">
        <div class="card-title">
          <h4><strong><%= treatment.patient.name %></strong></h4>
        </div>

        <div class="card-text">
          <span>From: <strong><%= treatment.start_time.strftime("%H:%M") %></strong></span>
          <span>To: <strong><%= treatment.end_time.strftime("%H:%M") %></strong></span>
        </div>
      </div>
    <% end %>
  </div>

</div>
