<%= link_to "New treatment", new_treatment_path, class:"btn btn-primary mb-3" %>

<h1>Treatments for today, <%= Time.current.strftime("%B %d, %Y") %></h1>

<div id="treatments" class="row">
  <% @treatments.each do |treatment| %>
    <div class="col-md-4 mb-3">
      <%= render treatment, treatment: treatment %>
    </div>
  <% end %>
</div>

<div class="sticky-bottom bg-light py-2">
  <h3>Driven distance today: <%= @total_distance %> km</h3>
  <h3>Driven time today: <%= @total_time %> minutes</h3>
</div>
