<%= link_to "New treatment", new_treatment_path, class:"btn btn-primary mb-3" %>

<h1>Treatments on <%= Time.current.strftime("%B %d") %></h1>


<div id="treatments" class="row">
  <% @treatments.sort_by(&:start_time).each do |treatment| %>
    <div class="col-md-4 mb-3">
      <%= render treatment, treatment: treatment %>
    </div>
  <% end %>
</div>

<div id="total-distance-time" class="sticky-bottom bg-light py-2">
  <h3>Total distance: <%= @total_distance.round(2) %> km</h3>
  <h3>Total time: <%= @total_time %> minutes</h3>
</div>
