<h1 class="text-center my-4">Treatments on <%= Time.current.strftime("%B %d") %></h1>

<%= link_to "New treatment", new_treatment_path, class:"btn btn-primary mb-3" %>

<div id="treatments" class="row">
  <% @treatments.sort_by(&:start_time).each do |treatment| %>
    <div class="col-md-4 mb-3">
      <%= render treatment, treatment: treatment %>
    </div>
  <% end %>
</div>

<div id="total-distance-time" class="fixed-bottom bg-light p-4 mb-0">
  <h3>Today you drove</h3>
  <h3><strong><%= @total_distance.round(2) %> km & <%= @total_time %> minutes</strong></h3>
</div>
