<h2><%= t(".title") %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true, class: "form-control" %>
    <%= f.input :last_name, required: false, autofocus: true %>
    <%= f.input :email, required: true, autofocus: true %>

    <p class="my-1"><%= t(".select_time_zone") %></p>
    <%= f.time_zone_select :time_zone, nil, {default: browser_time_zone.name}, {:class => 'form-control'} %>

    <p class="my-1"><%= t(".select_language") %></p>
    <div class="dropdown mb-1">
      <a class="dropdown-toggle text-dark form-control text-decoration-none" href="#" role="button" id="localeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <%= t('.language', selected_language: @current_user.locale) %>
      </a>
      <ul class="dropdown-menu" aria-labelledby="localeDropdown">
        <%= link_to "Italiano", url_for(locale: :it), class: "dropdown-item" %>
        <%= link_to "English", url_for(locale: :en), class: "dropdown-item" %>
        <%= link_to "Deutsch", url_for(locale: :de), class: "dropdown-item" %>
        <%= link_to "Français", url_for(locale: :fr), class: "dropdown-item" %>
      </ul>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "Leave blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "off" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "off" } %>
    <%= f.input :current_password,
                hint: "Input your password to confirm the changes.",
                required: true,
                input_html: { autocomplete: "off" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<br>

<%= button_to "Home", root_path, method: :get, class: "btn btn-secondary" %>

<br>

<div>
  <h4 class="m-4">Dangerous area - This action is not reversible</h4>

  <%= button_to "Delete my account",
  registration_path(resource_name),
  data: { confirm: "Are you sure?",
  turbo_confirm: "Are you sure?" },
  method: :delete,
  class: "btn btn-danger mb-2" %>

</div>
