<h2><%= t(".title") %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, required: true, autofocus: true, class: "form-control" %>
    <%= f.input :last_name, required: false, autofocus: true %>
    <%= f.input :email, required: true, autofocus: true %>

    <p class="my-1"><%= t(".select_time_zone") %></p>
    <%= f.time_zone_select :time_zone, nil, {default: browser_time_zone.name}, {:class => 'form-control'} %>

    <p class="my-1"><%= t(".select_language") %></p>
    <%= f.select :locale, I18n.available_locales.map(&:to_s), {}, class: 'form-control' %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "Leave blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "off" } %>
    <%= f.input :current_password,
                hint: "Input your password to confirm the changes.",
                required: false,
                input_html: { autocomplete: "off" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(".update"), class: "btn btn-primary" %>
  </div>
<% end %>
<br>

<div>
  <h6><%= t(".delete_account") %></h5>
  <%= button_to t(".delete_account_button"),
  registration_path(resource_name),
  data: { turbo_confirm: t(".confirm_delete") },
  method: :delete,
  class: "btn btn-danger mb-2",
  style: "width: 100%" %>
</div>
