<h4 class="fw-normal mt-4"><%= t(".title") %></h4>

<%= button_to omniauth_authorize_path(resource_name, 'google_oauth2'), class: "btn btn-google", data: { turbo: false } do %>
  <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" width="20" height="20" class="d-inline-block align-top" alt="Google logo">
  Google
<% end %>

<div class="or-container"><div class="line-separator"></div> <div class="or-label">or</div><div class="line-separator"></div></div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>
  <main class="form-signin w-100 m-auto">
    <form>
      <div class="form-floating">
        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    class: "form-control",
                    id: "floatingInput",
                    placeholder: "Max" %>
        <%= f.input :last_name,
                    required: false,
                    autofocus: true,
                    class: "form-control",
                    id: "floatingInput",
                    placeholder: "Mustermann" %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    class: "form-control",
                    id: "floatingInput",
                    placeholder: "name@email.com" %>

        <p class="my-1"><%= t(".select_time_zone") %></p>
        <%= f.time_zone_select :time_zone,
                    ActiveSupport::TimeZone.country_zones('CH'),
                    {default: browser_time_zone},
                    {:class => 'form-control py-1'} %>

        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "off" },
                    class: "form-control",
                    id: "floatingInput",
                    placeholder: "Password" %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "off" },
                    class: "form-control",
                    id: "floatingInput",
                    placeholder: "Password" %>
      </div>
      <%= f.button :submit, t(".sign_up"), class: "w-100 btn btn-lg btn-primary"%>
    </form>
  </main>
<% end %>
