<div class="container text-center">
  <div class="row align-items-center">
    <div class="col-9">
      <h1><%= t(".title") %></h1>
    </div>
    <div class="col-3">
      <%= link_to t('.today'), analytics_path(start_date: Date.today.strftime('%Y-%m-%d'), end_date: Date.today.strftime('%Y-%m-%d')), class: 'btn btn-outline-dark' %>
    </div>
  </div>
</div>
<div class="container text-center my-2 border border-dark rounded" style="--bs-border-opacity: .1;">
  <div class="row align-items-center">
    <div class="col-3">
      <%= link_to t('.minus_one'), analytics_path(start_date: (@start_date - 1.day).strftime('%Y-%m-%d'), end_date: (@end_date - 1.day).strftime('%Y-%m-%d')), class: 'btn btn-outline-dark' %>
    </div>
    <div class="col-6">
      <div id="date-selection" data-controller="date-range">
        <%= form_tag analytics_path, method: :get, class: 'form-inline justify-content-center' do %>
          <div class="form-group">
            <%= label_tag :start_date, t('.start_date'), class: 'mr-2' %>
            <%= date_field_tag :start_date, @start_date, required: true, data: { action: "change->date-range#updateEndDateMin", date_range_target:"startDate" }, class: 'form-control mr-2' %>
            <%= label_tag :end_date, t('.end_date'), class: 'mr-2' %>
            <%= date_field_tag :end_date, @end_date, required: true, data: { date_range_target: "endDate" }, class:'form-control mr-2 mb-2' %>
            <%= submit_tag t('.submit'), class: 'w-100 btn btn-dark' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-3 ">
      <%= link_to t('.plus_one'), analytics_path(start_date: (@start_date + 1.day).strftime('%Y-%m-%d'), end_date: (@end_date + 1.day).strftime('%Y-%m-%d')), class: 'btn btn-outline-dark' %>
    </div>
  </div>
</div>
<%# Tabs for distance and appointments %>
<ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
  <%# Distance tab button %>
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-first-tab" data-bs-toggle="pill" data-bs-target="#pills-first" type="button" role="tab" aria-controls="pills-first" aria-selected="true"><%= t('.distance') %></button>
  </li>
  <%# Appointments tab button %>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-second-tab" data-bs-toggle="pill" data-bs-target="#pills-second" type="button" role="tab" aria-controls="pills-second" aria-selected="false"><%= t('.appointments') %></button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <%# Distance tab content %>
  <div class="tab-pane fade show active" id="pills-first" role="tabpanel" aria-labelledby="pills-first-tab" tabindex="0">
    <div class="text-center my-4">
      <h4><%= t(".during_this_period") %></h4>
      <h3><strong><%= t(".km_and_minutes", time: @total_time, distance: @total_distance.round(2) ) %></strong></h3>
      <h3><%= t(".for_appointments", count: @appointments.count) %></h3>
    </div>
    <div class="row">
      <% @appointments.sort_by(&:start_time).each do |appointment| %>
        <div class="col-md-4 mb-3 appointment-card">
          <%= render appointment, appointment: appointment %>
        </div>
      <% end %>
    </div>
  </div>
  <%# Appointments tab content %>
  <div class="tab-pane fade" id="pills-second" role="tabpanel" aria-labelledby="pills-second-tab" tabindex="0">
    <div class="row">
      <h4><%= t(".appointments_amount", count: @appointments.size) %></h4>
      <ul class="list-group list-group-flush">
        <% @appointments.each do |appointment| %>
          <li class="list-group-item">
            <%= appointment.patient ? appointment.patient.name : t(".deleted_patient") %> -
            <strong><%= ((appointment.end_time - appointment.start_time) / 60).to_i %></strong> <%= t(".minutes") %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
