<nav class="navbar navbar-expand-sm border-bottom border-dark sticky-top navbar-css mb-3">
  <div class="container-fluid">
    <a href="/" class="navbar-brand"><strong><%= t('.home') %></strong></a>
    <button
      class="navbar-toggler text-dark"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseWidthNavbar"
      aria-expanded="false"
      aria-controls="collapseWidthNavbar">
      <strong><%= t('.menu') %></strong>
    </button>
    <div class="collapse navbar-collapse" id="collapseWidthNavbar">
      <% if user_signed_in? %>
        <ul class="nav">
          <li class="nav-item"><a href="/appointments" class="nav-link text-dark"><strong><%= t('.appointments') %></strong></a></li>
          <li class="nav-item"><a href="/analytics" class="nav-link text-dark"><%= t('.analytics') %></a></li>
          <li class="nav-item"><a href="/patients" class="nav-link text-dark"><%= t('.patients') %></a></li>
          <li class="nav-item"><a href="/clients" class="nav-link text-dark"><%= t('.clients') %></a></li>
          <li class="nav-item">
            <div class="dropdown-center btn-group">
              <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <strong><%= t('.my_account') %></strong>
              </a>
              <ul class="dropdown-menu dropdown-menu-end outline-dark">
                <li><%= link_to t('.edit_profile'), edit_user_registration_path, class: "dropdown-item" %></li>
                <li><%= link_to t('.log_out'), destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item"%></li>
              </ul>
            </div>
          </li>
        </ul>
      <% else %>
        <ul class="nav">
          <li class="nav-item nav-link"><%= link_to t('.login'), new_user_session_path, class: "btn btn-outline-dark" %></li>
          <li class="nav-item nav-link"><%= link_to t('.sign_up'), new_user_registration_path, class: "btn btn-primary" %></li>
          <li class="nav-item nav-link">
            <div class="dropdown mb-1">
              <a class="dropdown-toggle text-dark form-control text-decoration-none" href="#" role="button" id="localeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <%= t('.language') %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="localeDropdown">
                <%= link_to "Italiano", url_for(locale: :it), class: "dropdown-item" %>
                <%= link_to "English", url_for(locale: :en), class: "dropdown-item" %>
                <%= link_to "Deutsch", url_for(locale: :de), class: "dropdown-item" %>
                <%= link_to "Français", url_for(locale: :fr), class: "dropdown-item" %>
              </ul>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
