<%= simple_form_for(@client, local: true, data: { turbo: false }, html: { class: "form-horizontal" }) do |f| %>
  <%= f.error_notification %>
  <main class="form-signin w-100 m-auto">
    <form>
      <div class="form-floating">
      <%= f.input :name,
                    required: true,
                    autofocus: true,
                    class: "form-control",
                    id: "floatingInput",
                    placeholder: t(".name_placeholder") %>

        <%= f.input :subdomain,
                    required: true,
                    autofocus: true,
                    class: "form-control",
                    id: "floatingInput",
                    placeholder: t(".subdomain_placeholder") %>

        <%= f.input :email,
                    required: true,
                    autofocus: true,                    class: "form-control",
                    id: "floatingInput",
                    placeholder: t(".email_placeholder") %>
      </div>
    <form>
  <%= f.submit t(".submit"), class: 'btn btn-primary' %>
<% end %>
