<%= simple_form_for(@client, local: true, data: { turbo: false }, html: { class: "form-horizontal" }) do |f| %>
  <%= f.error_notification %>
  <main class="form-signin w-100 m-auto">
    <form>
      <div class="form-floating">
        <%= f.input :name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "off" },
                    class: "form-control",
                    id: "floatingInput",
                    placeholder: "Prima Spitex" %>

        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "off" },
                    class: "form-control",
                    id: "floatingInput",
                    placeholder: "prima@email.com" %>
      </div>
    <form>
  <%= f.submit "Validate and save", class: 'btn btn-primary' %>
<% end %>
