<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= simple_form_for(@client) do |f| %>
        <%= f.error_notification %>

        <div class="form-group">
          <%= f.label :name, "Client Name" %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
        <%= f.input :email, label: "Email", input_html: { class: "form-control", data: { "client-form-target": "email" } }, wrapper_html: { class: 'mb-3' } %>

        </div>

        <%= f.submit "Submit", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
