<% if user_signed_in? %>
  <div class="container mt-5">
    <h1><%= t(".greeting", name: current_user.first_name) %> 👋</h1>
    <br>
    <h3><%= t(".today", date: l(Date.current.in_time_zone(current_user.time_zone).to_date, format: :long_without_time)) %></h3>
    <div class="row p-1">
      <div class="col-12 p-2">
        <div class="card">
          <%= link_to daily_index_appointments_path(locale: I18n.locale), class: "btn btn-primary" do %>
            <h2><%= t(".new_appointment") %></h2>
          <% end %>
        </div>
      </div>
      <div class="col-12 p-2">
        <div class="card border-dark">
          <%= link_to appointments_path(locale: I18n.locale), class: "btn btn-light" do %>
            <h2><%= t(".appointments") %></h2>
          <% end %>
        </div>
      </div>
      <div class="col-12 p-2">
        <div class="card border-dark">
          <%= link_to patients_path(locale: I18n.locale), class: "btn btn-light" do %>
            <h2><%= t(".patients") %></h2>
          <% end %>
        </div>
      </div>
      <div class="col-12 p-2">
        <div class="card border-dark">
          <a href="mailto:aleks.vangjelofski@gmail.com?subject=Feedback%20for%20the%20Calcometer%20app" class="btn btn-light">
            <h2><%= t(".share_feedback") %></h2>
          </a>
        </div>
      </div>
    </div>
  </div>
  <footer class="fixed-bottom border-top border-dark footer-css">
    <h4 class="d-flex justify-content-around">Made with ❤️‍🔥 by Aleks in Zurich 🇨🇭</h4>
  </footer>

<% else %>

  <div class="position-relative p-3 p-md-5 m-md-3 text-center background-image background-overlay shadow-lg" style="background-image: url('<%= asset_path 'home_background.jpg' %>');">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold"><%= t('.calcometer') %></h1>
      <h3 class="fw-normal mb-3"><%= t('.tagline') %></h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <%= link_to t('.sign_up'), new_user_registration_path(locale: I18n.locale), class: "btn btn-primary" %>
        <%= link_to t('.log_in'), new_user_session_path(locale: I18n.locale), class: "btn btn-outline-dark btn-light" %>
      </div>
    </div>
  </div>

  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom"><%= t('.features') %></h2>
    <%# Features cards %>
    <div class="container px-1 py-1" id="custom-cards">
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-light rounded-4 shadow-lg">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-dark text-shadow-1">
              <h3 class="pt-2 mt-2 mb-4 display-6 lh-1 fw-bold"><%= t('.distance_management') %></h3>
              <p><%= t('.distance_management_desc') %></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-light rounded-4 shadow-lg">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-dark text-shadow-1">
              <h3 class="pt-2 mt-2 mb-4 display-6 lh-1 fw-bold"><%= t('.safe_by_design') %></h3>
              <p><%= t('.safe_by_design_desc') %></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-light rounded-4 shadow-lg">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h3 class="pt-2 mt-2 mb-4 display-6 lh-1 fw-bold"><%= t('.clutter_free_design') %></h3>
              <p><%= t('.clutter_free_design_desc') %></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-light rounded-4 shadow-lg">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-dark text-shadow-1">
              <h3 class="pt-2 mt-2 mb-4 display-6 lh-1 fw-bold"><%= t('.peace_of_mind') %></h3>
              <p><%= t('.peace_of_mind_desc') %></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-light rounded-4 shadow-lg">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-dark text-shadow-1">
              <h3 class="pt-2 mt-2 mb-4 display-6 lh-1 fw-bold"><%= t('.patient_tracker') %></h3>
              <p><%= t('.patient_tracker_desc') %></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-light rounded-4 shadow-lg">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h3 class="pt-2 mt-2 mb-4 display-6 lh-1 fw-bold"><%= t('.mobile_first_approach') %></h3>
              <p><%= t('.mobile_first_approach_desc') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="fixed-bottom border-top border-dark footer-css">
      <h4 class="text-center">Made with ❤️‍🔥 by Aleks in Zurich 🇨🇭</h4>
    </footer>
  <% end %>
