<p style="color: green"><%= notice %></p>

<%= render @patient %>

<div>
  <%= link_to "Edit this patient", edit_patient_path(@patient), class:"btn btn-primary" %> |

  <%= link_to "Back to patients", patients_path, class:"btn btn-secondary" %>

  <%= button_to "Destroy this patient", @patient, method: :delete, class:"btn btn-danger" %>
</div>
