<div class="card">
  <div id="<%= dom_id appointment %>">
    <%= link_to appointment, class: "text-decoration-none" do %>
      <div class="card-body">
        <h2 class="card-title">
        <%=
            unless appointment.patient
              "Deleted patient"
            else
              appointment.patient.name
            end %>
        </h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">➡️ <%= appointment.start_time.strftime("%H:%M") %></li>
            <li class="list-group-item">⬅️ <%= appointment.end_time.strftime("%H:%M") %></li>
          </ul>
      </div>
    <% end %>
  </div>
</div>
