<h1 class="text-center"><%= t(".title", date: l(Time.current.localtime, format: :short)) %></h1>

<%= link_to t(".new_appointment"),
new_appointment_path,
class: "btn btn-primary mb-3" %>

<div id="appointments" class="row mb-5">
  <% @appointments.sort_by(&:start_time).each do |appointment| %>
    <div class="col-md-4 mb-3">
      <%= render appointment, appointment: appointment %>
    </div>
  <% end %>
</div>
<footer class="fixed-bottom border-top border-dark footer-css">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex justify-content-around">
          <div id="driving_distance">
            <%= t(".driving_distance", driving_distance: @total_distance) %>
          </div>
          <div id="driving_duration">
            <%= t(".driving_duration", driving_duration: @total_duration) %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="d-flex flex-column justify-content-center"
          data-controller="calculate-distance-and-duration"
        >
          <%= button_tag t(".click_to_calculate_distance"), type: "button", class: "btn btn-primary", data: { action: "click->calculate-distance-and-duration#calculate" } %>
        </div>
      </div>
    </div>
  </div>
</footer>
