<h1 class="text-center my-4">Appointments on <%= Time.current.strftime("%B %d") %></h1>

<%= link_to "New appointment", new_appointment_path, class:"btn btn-primary mb-3" %>

<div id="appointments" class="row mb-5">
  <% @appointments.sort_by(&:start_time).each do |appointment| %>
    <div class="col-md-4 mb-3">
      <%= render appointment, appointment: appointment %>
    </div>
  <% end %>
</div>

<footer class="fixed-bottom border-top border-dark footer-css">
  <div class="container d-flex flex-column justify-content-center p-3">
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseWidthButtonCalculator"
      aria-expanded="false"
      aria-controls="collapseWidthButtonCalculator">
      <strong>Calculate distance and time</strong>
    </button>
    <div class="collapse mt-1" id="collapseWidthButtonCalculator">
      <p class="mt-1 mb-1">Today you drove</p>
      <h4><strong><%= @total_distance.round(2) %> km and <%= @total_time %> minutes</strong></h4>
    </div>
  </div>
</footer>
