<h1 class="text-center my-4"><%= t(".title", date: l(Time.new, format: :short)) %></h1>

<%= link_to t(".new_appointment"), new_appointment_path, class:"btn btn-primary mb-3" %>

<div id="appointments" class="row mb-5">
  <% @appointments.sort_by(&:start_time).each do |appointment| %>
    <div class="col-md-4 mb-3">
      <%= render appointment, appointment: appointment %>
    </div>
  <% end %>
</div>

<footer class="fixed-bottom border-top border-dark footer-css">
  <div
    class="container d-flex flex-column justify-content-center p-3"
    data-controller="calculate-total-distance-and-duration"
  >
    <button
      type="button"
      class="btn btn-primary"
      data-action="click->calculate-total-distance-and-duration#calculate">
      <strong><%= t(".calculate_distance_time") %></strong>
    <div class="mt-1">
      <%
=begin%>
 <h6 id="distance_and_duration"><strong><%= t(".distance_and_duration", distance: @daily_distance, duration: @daily_duration) %></strong></h4>
<%
=end%>
     <h6 id="daily_distance"><strong><%= t(".daily_distance", distance: @daily_distance) %></strong></h6>
     <h6 id="daily_duration"><strong><%= t(".daily_duration", duration: @daily_duration) %></strong></h6>
    </div>
  </div>
</footer>
