<h3 class="text-center"><%= t(".title") %></h3>
<%# Container with date selection %>
<div class="container text-center my-2 border border-dark rounded" style="--bs-border-opacity: .1;">
  <div id="date-selection" data-controller="date-range">
    <%= form_tag appointments_path, method: :get, class: 'form-inline justify-content-center' do %>
      <div class="row"> <!-- Add a row container -->

        <!-- Start Date Column -->
        <div class="col-6"> <!-- Use half the width for medium screens and up -->
          <div class="form-group">
            <%= label_tag :start_date, t(".start_date"), class: "mr-2" %>
            <%= date_field_tag :start_date,
            @start_date,
            required: true,
            data: {
              action: "change->date-range#updateEndDateMin",
              date_range_target: "startDate"
            },
            class: "form-control mr-2" %>
          </div>
        </div>

        <!-- End Date Column -->
        <div class="col-6"> <!-- Use half the width for medium screens and up -->
          <div class="form-group">
            <%= label_tag :end_date, t(".end_date"), class: "mr-2" %>
            <%= date_field_tag :end_date,
            @end_date,
            required: true,
            data: {
              date_range_target: "endDate"
            },
            class: "form-control mr-2 mb-2" %>
          </div>
        </div>

      </div> <!-- End of row container -->

      <!-- Submit Button -->
      <div class="form-group w-100 mt-2">
        <%= submit_tag t(".submit"), class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>
</div>

<%# Tabs for distance and appointments %>
<ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
  <%# Distance tab button %>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="pills-first-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-first"
      type="button"
      role="tab"
      aria-controls="pills-first"
      aria-selected="true"
    ><%= t(".distance") %></button>
  </li>
  <%# Appointments tab button %>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-second-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-second"
      type="button"
      role="tab"
      aria-controls="pills-second"
      aria-selected="false"
    ><%= t(".appointments") %></button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <%# Distance tab content %>
  <div
    class="tab-pane fade show active"
    id="pills-first"
    role="tabpanel"
    aria-labelledby="pills-first-tab"
    tabindex="0"
  >
    <div class="row">
      <% @appointments.sort_by(&:start_time).each do |appointment| %>
        <div class="col-md-4 mb-3 appointment-card">
          <%= render appointment, appointment: appointment %>
        </div>
      <% end %>
    </div>
  </div>
  <%# Appointments tab content %>
  <div
    class="tab-pane fade"
    id="pills-second"
    role="tabpanel"
    aria-labelledby="pills-second-tab"
    tabindex="0"
  >
    <div class="row">
      <h4><%= t(".appointments_amount", count: @appointments.size) %></h4>
      <ul class="list-group list-group-flush">
        <% @appointments.each do |appointment| %>
          <li class="list-group-item bg-transparent">
            <%= appointment.patient ? appointment.patient.name : t(".deleted_patient") %>
            -
            <strong><%= ((appointment.end_time - appointment.start_time) / 60).to_i %></strong>
            <%= t(".minutes") %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<footer class="fixed-bottom footer-css">
  <div class="text-center">
    <h6><%= t(".during_this_period") %></h6>
    <h5><strong><%= t(
          ".distance_and_duration",
          distance: @total_distance,
          duration: @total_duration
        ) %></strong></h5>
    <h5><%= t(".for_appointments", count: @appointments.count) %></h5>
  </div>
</footer>
