<!DOCTYPE html>
<html>
  <head>
    <title>Calcometer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mapbox-api-key" content="<%= ENV['MAPBOX_API_KEY'] %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="container bs5-grid-row">
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>
  </body>
</html>
