<!DOCTYPE html>
<html>
  <head>
    <title>Calcometer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
  <header>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
  </header>
    <div class="content container px-3 pb-1 col-md-6 col-lg-8">
      <%= yield %>
    </div>
  </body>
</html>
